*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.custom-navbar{ 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}
.nav-div{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}
.logo a{
    font-size: 40px; 
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-weight: bold;
    color: rgb(96, 32, 155);
}
li{
    list-style: none;
    display: inline-block;
}
li a{
    color:rgb(99, 7, 133); 
    font-size: 18px; 
    font-weight: bold; 
    margin-right: 25px;
}

button{}
.cv{
    background-color: rgb(99, 7, 133);
    border-radius: 20px;
    padding: 8px;
    color: rgb(255, 255, 255);
    
}
.visit-work{
    background-color: rgb(99, 7, 133);
    border-radius: 20px;
    padding: 12px;
    color: rgb(255, 255, 255);
}
.tohold{
    padding: 5px;
    background-color:  rgb(99, 7, 133);
    color: white;
    border-radius: 5px;
}

div{}
.title{
    width: 30%;
    float: middle;
    margin-left: 30%;
}
.content-left{
    width: 40%;
    float: left;
    margin-top: 10%;
    margin-left: 15%;

}
.content-right{
    width: 20%;
    float: right;
    margin-top: 8%;
    margin-right: 20%;
    font-style: oblique;
    font-weight: 800;
    flex-direction: row;
    width: 20%;
}
.contact-text{
    margin-bottom: 5px;
    color: blueviolet;
    margin-left: 15%;
    font-family: cursive;
    font-weight: bolder;
    border: 2px;
    border-color: black;

}
.header{
    width: 30%;
    margin-left: 40%;
    margin-top: 10%;
}
.row1{
    flex-direction: column;
    border: 2px;
    border-radius: 5px;
}
.col-1{
    width: 25%;
    float: left;
}
.col-2{
    width: 25%;
    margin-top: 10%;
    margin-left: 25%;
    

}
.col-3{
    width: 25%;
    margin-left: 50%;
    margin-top: -19.35%;
    
}
.col-4{
    width: 25%;
    margin-left: 75%;
    margin-top: -19.34%;
}
.col-5{
    width: 33.33%;
    float: left;
    margin-left: 0%;
    
}
.col-6{
    width: 33.33%;
    float: middle;
    margin-left: 34%;
    margin-top: 20px;
}
.col-7{
    margin-left: 68%;
    width: 33.33%;
    float: right;
    margin-top: -22%;
}
.img1{
    margin-left: 5%;
}
.img2{
    margin-left: 5%;
}
.img3{
    margin-left: 5%;
}
.img4{
    margin-left: 5%;
}
.wanttohire{
    background-color: rgba(181, 14, 223, 0.258);
    font-weight: bolder;
    color: rgb(96, 32, 155);
    padding: 20px;
    margin-top: 20%;
}
.hire{
    width: 50%;
    font-style: cursive;
    font: bolder;
    font-size: xx-large;
}
.hirebutton{
    font-style: normal;
    color: azure;
    margin-left: 50%;
    margin-top: -2%;
    
}
.footer{
    background-color: rgba(195, 60, 229, 0.16);
    margin-left: 25%;
    flex-direction: row;
    padding: 30px;
    border: solid;
}
.footer-left{
    color: rgb(0, 0, 0);
    margin-left: 2%;
    width: 45%;
    margin-bottom: 2%;
}
.footer-right{
    width: 50%;
    margin-left: 45%;
    margin-top: -10.5%;
    margin-bottom: 3%;

}
h6{

}
.title1{
    font-style: cursive;
    margin-left: 30%;
    font-weight: bolder;
    font-size: x-large;
}
.title2{
    font-style: cursive;
    margin-left: 37%;
    font-weight: bolder;
    font-size: x-large;
}

h2{
    text-decoration: none;
    font-size: xx-large;
    font-family: cursive;
    font-weight: bold;
    color: rgb(99, 23, 127);
}
.communicate-title{
    align-items: center;
    margin-left: 15%;
}
.portfolio{
    margin-left: 45%;
}

h5{
    text-decoration: none;
    font-size: small;
    font-family: cursive;
}

h1{
    color: rgb(118, 60, 173);
    font-family: cursive;
    margin-top: 20%;
}
.service{
    margin-left: 45%;
    margin-top: 8%;
    font-weight: bolder;
    font-size: xx-large;
}
.service1{
    margin-left: 40%;
    margin-top: 40%;
    color: rgb(99, 7, 133);
    font-size: x-large;
}
.up{
    font-weight: 900;
    color: rgba(57, 9, 85, 0.881);
    font-size: xxx-large;
    
}
.down{
    font-family: cursive;
    color: rgba(57, 55, 58, 0.881);
    font-size: xxx-large;
}
img{}
.icon{
    margin-left: 25%;
}
section{}
.middlepart4{
    margin-left: 45%;
    margin-top: 15%;

}
.contact{
    margin-left: 20%;
    margin-top: 15%;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.whatido{
    font-family: cursive;
    margin-left: 50%;
}
.communicate{
    color: rgb(95, 93, 93);
    font-size: large;
    margin-left: 15%;
}
.my-portfolio{
    margin-left: 45%;
    margin-top: 15%;
    font-size: larger;
}
.footer{
    width: 100%;
    margin-top: 15px;
    margin-left: 0%;
    background-color:  rgba(181, 14, 223, 0.478);
    height: 27vh;
    
}
.footer-left{
    width: 30%;
}
.footer-middle{
    width: 30%;
    margin-left: 33%;
    margin-top: -7%;
}
.footer-right{
    width: 30%;
    margin-left: 66%;
    margin-top: -2%;
}

input[type="text"],
textarea {
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.719);
    border-radius: 4px;
    padding: 7px;
    background-color: rgba(255, 255, 255, 0.289);
}
input[type="submit"]{
    padding: 7px;
    border-radius: 10px;
    margin-left: 20%;
    background-color: rgb(99, 7, 133);
    color: white;
}
input[type="email"]{
    width: 50%;
    padding: 7px;
    border: 1px solid rgba(0, 0, 0, 0.719);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.344);
    margin-top: 5px;
}

@media screen and (max-width: 1024px){
    .content-right{
        flex-direction: column;
        width: 70%;
        align-items: center;
        margin-right: 0%;

    }
    .gallery{
        width: 100%;
    }
    .middlepart2{
        flex-direction: column;
    }
    .middlepart3{
        width: 100%;
        margin-top: 20%;
        flex-direction: column;
    }
    .service{
        margin-left: 50%;
    }
    .row1{
        flex-direction: column;
        align-items: center;
        margin-left: 2%;
    }
    .col-1{
        width: 100%;
        margin-left: 0%;
        margin-top: 5%;
    }
    .col-2{
        width: 100%;
        margin-left: 0%;
        margin-top: 5%;
    }
    .col-3{
        width: 100%;
        margin-left: 0%;
        margin-top: 5%;
    }
    .col-4{
        width: 100%;
        margin-left: 0%;
        margin-top: 5%;
    }
    .row2{
        margin-left: 2%;
    }
    .col-5{
        width: 100%;
        margin-left: 0%;
        margin-right: 2%;
        margin-top: 5%;
        justify-content: center;
    }
    .col-6{
        width: 100%;
        margin-left: 0%;
        margin-top: 5%;
        justify-content: center;
    }
    .col-7{
        width: 100%;
        margin-left: 0%;
        margin-top: 5%;
        justify-content: center;
    }
    .wanttohire{
        margin-top: 100%;
        width: 100%;
        margin-left: 23%;
    }
    .contact-text{
        width: 100%;
    }
    
    .row-3-col-1{
        width: 100%;
        margin-left: -3%;
    }
    .communicate{
        margin-left: 5%;
    }
    .communicate-title{
        margin-left: 5%;
    }
    .middle{
        flex-direction: column;
        width: 50%;
    }
    
    .servicecard1{
        width: 100%;
        margin-left: 25%;
    }
    .servicecard2{
        width: 100%;
        margin-left: 25%;
    }
    .servicecard3{
        width: 100%;
        margin-left: 25%;
    }
    .servicecard4{
        width: 100%;
        margin-left: 25%;
    }
    .servicecard5{
        width: 100%;
        margin-left: 8%;
    }
    .servicecard6{
        width: 100%;
        margin-left: 8%;
    }
    .servicecard7{
        width: 100%;
        margin-left: 8%;
    }
    .img11{
        margin-right: 4%;
        width: 100%;
    }
    .img22{
        margin-right: 4%;
        width: 100%;
    }
    .img33{
        margin-right: 4%;
        width: 100%;
    }
    .my-portfolio{
        width: 100%;
    }
    .mayewo{
        width: 20%;
    }
    .middle{
        margin-left: 50%;
    }
    .row-1-col-1{
        width: 100%;
    }
    .header{
        margin-left: 50%;
    }
    .content-left{
        width: 100%;
        margin-left: 22%;
    }
    .width{
        width: 100%;
        
    }
    .footer{
        background-color: rgba(181, 14, 223, 0.478);
        margin-left: 22%;
        height: auto;
        margin-right: 0%;
        width: 100%;
        flex-direction: column;
    }
    .footer-left{
        width: 100%;
    }
    .footer-middle{
        width: 100%;
        margin-top: 5%;
        margin-left: 1%;
        
    }
    .footer-right{
        width: 100%;
        margin-top: 5%;
        margin-left: 2%;
    }
}